.feature {
  margin-top: 170px;
}

.feature__heading {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  color: #333;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
}

.feature__heading::after {
  content: "";
  position: absolute;
  left: calc(50% - 50px);
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: #333;
}

.feature__contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  padding: 80px 0;
  background-color: #ff2a2a;
}

.feature__row--reverse {
  display: flex;
  justify-content: flex-end;
}

.feature__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 71.25px 0;
  width: 50%;
  border-radius: 0 20px 20px 0;
  background-color: white;
}

.feature__row--reverse .feature__card {
  border-radius: 20px 0 0 20px;
}

.feature__icon > img {
  height: 60px;
  object-fit: contain;
}

.feature__title {
  color: #ff2a2a;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
}

.feature__description {
  color: #333;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5;
}
