.info {
  margin-top: 120px;
  padding: 60px 0;
  background-image: url(../images/bg.gif);
  animation: fall 10s infinite linear;

  @media screen and (max-width: 900px) {
    margin-top: 0;
    padding: 50px 20px;
  }
}

.info__heading {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  color: #333;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;

  @media screen and (max-width: 900px) {
    padding-bottom: 10px;
    font-size: 24px;
  }
}

.info__heading::after {
  content: "";
  position: absolute;
  left: calc(50% - 50px);
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: #333;
}

.info__contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 100px auto 0;
  max-width: 860px;

  @media screen and (max-width: 900px) {
    margin: 40px auto 0;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 500px;
  }
}

.info__card {
  padding: 60px;
  border-radius: 20px;
  background-color: white;

  @media screen and (max-width: 900px) {
    padding: 40px;
  }
}

.info__title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;

  @media screen and (max-width: 900px) {
    font-size: 24px;
  }
}

.info__title-en {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;

  @media screen and (max-width: 900px) {
    font-size: 16px;
  }
}

.info__description {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;

  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -700px 700px;
  }
}
