.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff2a2a;
  z-index: 5000;
}

.nav__logo {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 100px;
}

.nav__logo img {
  width: 100%;
}

.nav__menu {
  margin-top: 80px;
  text-align: center;
}

.nav__link {
  display: block;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 2px;
}

.nav__button {
  margin-top: 60px;
}

.nav__button a {
  position: relative;
  padding: 20px 50px;
  border: 1px white solid;
  width: 250px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 2px;
  z-index: 100;
}

.nav__button a::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: -7px;
  display: block;
  width: 264px;
  height: 58px;
  background-color: transparent;
  border-right: white 1px solid;
  border-bottom: 1px white solid;
  z-index: 10;
}
